*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum
.idea

# --- app
.env
app/database/infra/data

# --- air
tmp
app/tmp

# --- Bin / Storage
bin
!bin/.gitkeep
bin/storage/logs/*.*
bin/storage/media/*.*
bin/storage/media/posts/*.*
bin/storage/media/users/*.*
!bin/storage/logs/.gitkeep
!bin/storage/media/.gitkeep
!bin/storage/media/posts/.gitkeep
!bin/storage/media/users/.gitkeep

# --- App / Storage
app/storage/logs/*.*
app/storage/media/*.*
app/storage/media/posts/*.*
app/storage/media/users/*.*
!app/storage/logs/.gitkeep
!app/storage/media/.gitkeep
!app/storage/media/posts/.gitkeep
!app/storage/media/users/.gitkeep
