*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum
.idea

# --- air
tmp
app/tmp

# --- Storage
app/storage/logs/*.*
storage/logs/*.*
!app/storage/logs/.gitkeep
!storage/logs/.gitkeep

# --- app
.env
database/data

# --- build
bin
bin/storage/*.*
!bin/.gitkeep
!bin/storage/logs/.gitkeep
