*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum
.env

database/ssl/server.crt
database/ssl/server.csr
database/ssl/server.key
database/data

.idea
tmp

storage/logs/*.*
!storage/logs/.gitkeep
