/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------- customised ----------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */

@import '@css/support/custom-fonts.css' layer(base);

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------- tailwindcss ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------- customised ----------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */
@import '@css/support/utility-patterns.css' layer(components);
@import '@css/support/range-slider.css' layer(components);
@import '@css/support/toggle-switch.css' layer(components);
@import '@css/support/theme.css';
@import '@css/support/blog.css';

@plugin "@tailwindcss/forms" {
    strategy: base;
}

@custom-variant dark (&:is(.dark *));

@theme {
	--breakpoint-xs: 30rem;

	--font-inter: Inter, sans-serif;
	--font-aspekta: Aspekta, sans-serif;
	--font-pt-mono: PT Mono, monospace;

	--text-xs: 0.75rem;
	--text-xs--line-height: 1.5;
	--text-sm: 0.875rem;
	--text-sm--line-height: 1.5715;
	--text-base: 1rem;
	--text-base--line-height: 1.5;
	--text-base--letter-spacing: -0.01em;
	--text-lg: 1.125rem;
	--text-lg--line-height: 1.5;
	--text-lg--letter-spacing: -0.01em;
	--text-xl: 1.25rem;
	--text-xl--line-height: 1.5;
	--text-xl--letter-spacing: -0.01em;
	--text-2xl: 1.5rem;
	--text-2xl--line-height: 1.415;
	--text-2xl--letter-spacing: -0.01em;
	--text-3xl: 1.875rem;
	--text-3xl--line-height: 1.333;
	--text-3xl--letter-spacing: -0.01em;
	--text-4xl: 2.25rem;
	--text-4xl--line-height: 1.277;
	--text-4xl--letter-spacing: -0.01em;
	--text-5xl: 3rem;
	--text-5xl--line-height: 1;
	--text-5xl--letter-spacing: -0.01em;
	--text-6xl: 3.75rem;
	--text-6xl--line-height: 1;
	--text-6xl--letter-spacing: -0.01em;
	--text-7xl: 4.5rem;
	--text-7xl--line-height: 1;
	--text-7xl--letter-spacing: -0.01em;

	--tracking-tighter: -0.02em;
	--tracking-tight: -0.01em;
	--tracking-normal: 0;
	--tracking-wide: 0.01em;
	--tracking-wider: 0.02em;
	--tracking-widest: 0.4em;

    --color-fuchsia-50: oklch(0.977 0.017 320.058);
    --color-fuchsia-100: oklch(0.952 0.037 318.852);
    --color-fuchsia-200: oklch(0.903 0.076 319.62);
    --color-fuchsia-300: oklch(0.833 0.145 321.434);
    --color-fuchsia-400: oklch(0.74 0.238 322.16);
    --color-fuchsia-500: oklch(0.667 0.295 322.15);
    --color-fuchsia-600: oklch(0.591 0.293 322.896);
    --color-fuchsia-700: oklch(0.518 0.253 323.949);
    --color-fuchsia-800: oklch(0.452 0.211 324.591);
    --color-fuchsia-900: oklch(0.401 0.17 325.612);
    --color-fuchsia-950: oklch(0.293 0.136 325.661);
}
